{% extends "base.html" %}

{% block content %}
    <h2 class="text-white text-4xl">Learn</h2>
    <br>
    <br>
    <h2 class = 'text-2xl'>Introduction:</h2>
Toliman AI is an autonomous research assistant designed to search the web for useful and recent information, and incorporate it into written outputs. By leveraging advanced AI technology and web scraping techniques, Toliman AI aims to help create useful content with accurate references. This speeds up the process of reading and writing significantly.
<br><br>
<h2 class = 'text-2xl'>
Motivation:</h2>

Our Autonomous Research Project, Toliman AI, is aimed at revolutionizing the way people manage their day-to-day tasks. Our mission is to save individuals at least 50% of the time they spend on routine tasks that can be automated, thus allowing them to focus on more meaningful and engaging pursuits.<br><br>

Toliman AI is named after a star in the Alpha Centauri star system. This system, home to the Earth-like exoplanet Proxima Centauri b, has been the subject of significant interest and research. In particular, an upcoming NASA space telescope mission seeks to explore this star system in greater detail, with the potential to unveil new insights about this star system and other distant celestial bodies.<br><br>

Drawing inspiration from this space mission to view far away stars, Toliman AI aspires to be a tool that enables people to learn and extract value from the vast expanse of the internet. The web, much like the universe, is an enormous and ever-expanding source of information. Our autonomous research startup aims to explore and structure this information efficiently, making it more accessible and understandable to users.<br><br>

By automating mundane tasks and streamlining the process of learning from the web, Toliman AI not only saves people valuable time but also empowers them to pursue their passions, enhance their skills, and contribute more meaningfully to society.
<br><br>
<h2 class = 'text-2xl'>
Roadmap </h2>
The following outlines the key milestones in our roadmap:<br><br>

Integrate additional APIs including PubMed and Google Scholar and enable users to toggle between tools to customize research references.<br><br>
Automated News Creation: We will introduce a service for automated news creation. Users will be able to specify multiple topics and receive a customized newsletter written for them, containing the most relevant news and updates. This feature will save users time and effort, allowing them to stay informed and up-to-date on their topics of interest with minimal hassle.<br><br>
Enterprise Dataset Creation: Recognizing the potential of our platform for business applications, we will offer an enterprise dataset creation service. Organizations can collaborate with us to generate datasets tailored to their specific needs, such as comparing multiple companies by employee numbers, reviews, and online presence, or analyzing clinical trials by results and patient populations.<br><br>

<h2 class = 'text-2xl'>Tokens:</h2>
To support the development and maintenance of Toliman AI, we charge incrementally for each use of the tool. We are an unfunded initiative, and the funds collected are necessary to sustain the project and continue providing this valuable service.<br><br>

<h2 class = 'text-2xl'>
Technology:</h2>

Toliman AI is a sophisticated research assistant that utilizes cutting-edge artificial intelligence, web scraping, and natural language processing techniques to streamline the process of gathering information and enhancing written content. At a high level, Toliman AI works like an expert guide who navigates the web to find valuable information. It uses GPT-4, GPT-3.5, and Google Search API to locate the most relevant and recent content, capable of reviewing >20 websites for context in less than a minute.
<br>
<br>
Once the information is found, Toliman AI uses GPT-4 and Pinecone vector embedding search to extract and save the most useful insights. It does this by producing concise summaries and extracting key data points. To ensure the gathered information is reliable and properly cited, Toliman AI acts as a librarian, keeping track of all sources and generating accurate APA references.
<br>
<br>
Finally, Toliman AI functions as a skilled writer, adept at refining and integrating the extracted knowledge into the desired output. It uses the AI language models to synthesize the information, making the final written content more comprehensive, engaging, and valuable to the reader.
<br>
<br>
<div data-tf-widget="ZFljkbQB" data-tf-opacity="100" data-tf-iframe-props="title=Contact Toliman AI" data-tf-transitive-search-params data-tf-medium="snippet" style="width:100%;height:500px;"></div><script src="//embed.typeform.com/next/embed.js"></script>
{% endblock %}